.device {
  margin: 0 15px;
}

.deviceCardContainer {
  /* position: absolute;
    top: 30%;
    left: 10%; */
  /* margin-top: 5%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
}
.deviceCard {
  min-width: 200px;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
}
.deviceCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.name {
  color: #114a62;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  color: #f6932f;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
}

.stateButton {
  border: none;
  color: #455e60;
  border-radius: 8px;
}
.stop {
  background-color: rgb(245, 149, 149);
}
.running {
  background-color: rgb(108, 250, 108);
}
.operationButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttonGroup button {
  border: none;
  color: #455e60;
  border-radius: 8px;
  margin: 2px;
  width: 80px;
}
.device .table {
  margin: 35px 15px;
}
.loadingContainer {
  align-items: center;
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); */
}
/*
.device table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.device td,
th {
  
  padding: 5px;
  text-align: left;
  border-right: 1px solid rgb(223, 222, 222);
  border-bottom: 1px solid rgb(223, 222, 222);
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid rgb(223, 222, 222);
}
table tr th {
  border-top: 1px solid rgb(223, 222, 222);
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}


table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}


table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  background-color: transparent !important;
}
.device th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #114a62;
  color: white;
}

.device tr {
  color: #455e60;
  background-color: transparent;
}
.device tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #455e60;
}
.device tr:hover {
  background-color: #ddd;
} */

.deviceTable {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.deviceTable thead tr {
  background-color: #114a62;
  color: #ffffff;
  text-align: center;
}
.deviceTable th,
td {
  padding: 12px 10px;
}
.deviceTable tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.deviceTable thead th:first-child {
  text-align: left;
}

.deviceTable tbody td:first-child {
  text-align: left;
}
.deviceTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.deviceTable tbody tr:last-of-type {
  border-bottom: 2px solid #114a62;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
