.dd{
    margin: 10px;
}
.ddToggle{
    background-color: transparent;
    color: #047baa;
    border-color: #047baa;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.ddToggle:hover {
    background-color: #047baa;
    color: white;
}

.ddToggle:focus{
    background-color: #047baa;
    color: white;
}
.ddToggle:active{
    background-color: #047baa;
    color: white;
}
