/* .dd {
  margin: 0 8px;
  font-size: 0.8rem;
}
.ddToggle {
  background-color: transparent;
  color: #114a62;
  border-color: #114a62;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.ddToggle:hover {
  background-color: #114a62;
  color: white;
}

.ddToggle:focus {
  background-color: #114a62;
  color: white;
}
.ddToggle:active {
  background-color: #114a62;
  color: white;
} */

.ddItem :active {
  background-color: #114a62;
  color: white;
}
.ddItem:hover {
  background-color: #114a62;
  color: white;
}

.ddButton button {
  margin: 0 8px;
  background-color: transparent;
  color: #114a62;
  border-color: #114a62;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.ddButton button:hover {
  background-color: #114a62;
  color: white;
}
.ddButton button:focus {
  background-color: #114a62;
  color: white;
}
.ddButton button:checked {
  background-color: #114a62;
  color: white;
}
.ddButton button:active {
  background-color: #114a62;
  color: white;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

.customSelect {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  outline: none;
}
:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}
.customSelectDiv {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  justify-content: center;
  position: relative;
}
.customSelect,
.customSelectDiv:after {
  grid-area: select;
}
.customSelectDiv::after {
  justify-self: end;
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.customSelect:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
.customSelectDiv option:hover {
  background-color: blue;
} */
