.dd {
  margin: 0 8px;
  font-size: 0.8rem;
}
.ddToggle {
  background-color: transparent;
  color: #114a62;
  border-color: #114a62;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}
.ddToggle:hover {
  background-color: #114a62;
  color: white;
}

.ddToggle:focus {
  background-color: #114a62;
  color: white;
}
.ddToggle:active {
  background-color: #114a62;
  color: white;
}
.ddItem:active {
  background-color: #114a62;
}
